.header {
  margin: 0 auto;
  height: 799px;
  background: #f2f3f7;

  background-image: url("images/background.png");
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: top;
  width: 1280px;
  position: relative;
}

header {
  background-color: #f2f3f7;
}

.header-text {
  position: absolute;
  left: 14%;
  top: 26.78%;
  display: flex;
  flex-direction: column;
}

.header-text > h2 {
  height: 261px;
  width: 341px;

  text-align: left;

  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 76px;
  line-height: 87px;

  color: #d4004e;

  margin: 0;
}

.header-text > h3 {
  display: flex;
  justify-content: center;
  padding-right: 70px;
  height: 48px;
  width: 100%;

  font-family: "Noto Sans CJK JP";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #d4004e;
}

.logo {
  position: absolute;
  left: 3.8%;
  top: 27.27%;
  right: 78.96%;
  bottom: 28.57%;
}

.nav-list {
  height: 77px;
  width: 720.5px;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.nav-items {
  list-style: none;
  font-size: 14px;
  margin-top: 6px;
}

.nav-items > p {
  margin: 0;
  font-family: Noto Sans CJK JP;
  font-size: 10px;
  text-align: center;
  color: #777777;
}

.square {
  height: 77px;
  width: 974.5px;
  box-shadow: 5px 5px 0px 0 rgba(52, 55, 58, 0.2);
  position: relative;

  display: flex;
  justify-content: space-between;

  position: absolute;
  z-index: 1;
  top: 7.13%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);

  background: #ffffff;
}

.scroll > p {
  height: 15px;
  width: 50px;

  letter-spacing: 0em;
  text-align: left;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #e00052;
}

.scroll {
  position: absolute;
  left: 50%;
  top: 93.74%;
  margin: 8.69px;
}

.line {
  position: absolute;
  left: 47%;
}

.greeting {
  font-family: Noto Sans CJK JP;
  font-size: 17px;
  font-weight: 500;
  margin: 0 auto;
  line-height: 35px;
  position: absolute;
  left: 7.94%;
  top: 36.9%;
  height: 187px;
  width: 831px;
}

main {
  position: relative;
  height: 2652px;
  width: 1280px;
}

.about {
  font-family: Noto Sans CJK JP;
  font-size: 43px;
  font-weight: 500;
  font-family: Noto Sans CJK JP;
  line-height: 62.26px;
  position: absolute;
  left: 13.43%;
  top: 3.85%;
  margin: 0;
  z-index: 1;
}

.background-about {
  height: 282.5px;
  width: 953.95px;
  background-color: #f2f3f7;
  position: absolute;
  left: 12.37%;
  top: 4.94%;
  margin: 0;
  position: relative;
}

.mark-about {
  position: absolute;
  left: 10.86%;
  top: 4.19%;
}

.link-about {
  height: 35.8px;
  width: 157.12px;
  line-height: 35.8px;
  background-color: #d4004e;
  color: #ffffff;
  position: absolute;
  left: 46.61%;
  top: 15.23%;
  text-align: center;
  font-size: 13px;
}

span {
  color: #ffffff;
  float: right;
}

.service {
  font-size: 43px;
  font-weight: 500;
  font-family: Noto Sans CJK JP;
  line-height: 62.26px;
  position: absolute;
  left: 13.43%;
  top: 21%;
}

.table-service {
  position: absolute;
  left: 10.98%;
  top: 26.07%;
  text-align: center;
}

td {
  height: 87.66px;
  width: 489px;
}

.link-science {
  height: 35.8px;
  width: 157.12px;
  line-height: 35.8px;
  font-weight: 700;
  background-color: #d4004e;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  display: inline-block;
}

.title-service {
  font-family: Noto Sans CJK JP;
  font-size: 20px;
  line-height: 29.6px;
  font-weight: 700;
  color: #d4004e;
  padding-left: 95.5px;
}

.txt-service {
  font-family: Noto Sans CJK JP;
  font-size: 13px;
  font-weight: 700;
  line-height: 29.6px;
  padding-left: 95.5px;
}

.mark-service {
  position: absolute;
  left: 10.86%;
  top: 21.36%;
}

.link-education {
  height: 35.8px;
  width: 157.12px;
  line-height: 35.8px;
  background-color: #d4004e;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  display: inline-block;
  font-weight: 700;
}

.link-bottom {
  height: 35.8px;
  width: 157.12px;
  line-height: 35.8px;
  background-color: #d4004e;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  display: inline-block;
  font-weight: 700;
}

.link-iot {
  height: 35.8px;
  width: 157.12px;
  line-height: 35.8px;
  background-color: #d4004e;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  display: inline-block;
  font-weight: 700;
}

.news {
  font-family: Noto Sans CJK JP;
  font-size: 43px;
  font-weight: 500;
  font-family: Noto Sans CJK JP;
  line-height: 62.26px;
  position: absolute;
  left: 13.43%;
  top: 77.53%;
}

.table-news {
  position: absolute;
  left: 12.73%;
  top: 78.77%;
}

.mark-news {
  position: absolute;
  left: 10.86%;
  top: 77.85%;
}

.link-news {
  height: 35.8px;
  width: 157.12px;
  line-height: 35.8px;
  background-color: #d4004e;
  color: #ffffff;
  position: absolute;
  left: 42.95%;
  top: 94.93%;
  text-align: center;
}

.link-news > span {
  color: #ffffff;
  float: right;
}

footer {
  height: 261px;
}
